*{
    box-sizing: border-box;
}
 html{
     background-image: url('https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!2spDmTvk_Ey3l_QSLPv1vkLnsRzUCaRDqWTh1FX8GP5tUMRzFWzmQ47zimRsNl9q%2Fitems%2F015YABFJX6OTTMEM5MWVCZFHPXYJGKR637%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWxxdWRzY29sbGVnZS1teS5zaGFyZXBvaW50LmNvbUBhMTYyYzUzMi03YTBjLTQ2NDUtOTZmZC0yMGQwMTljZjRlNWEiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOiIxNjE1MjY5NjAwIiwiZXhwIjoiMTYxNTI5MTIwMCIsImVuZHBvaW50dXJsIjoiVzlMTWdBNGxHaTJ6MjJ2M3VoNEcxNVJDMmlpLzZrMllKd1ZyWVJwSklSUT0iLCJlbmRwb2ludHVybExlbmd0aCI6IjEyMyIsImlzbG9vcGJhY2siOiJUcnVlIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiIsInNpdGVpZCI6Ik9UazBNMk5oWkdFdFpUUXpZaTAwWTJaakxXSTNPVGN0WmpReE1qSmpabUptTldKbCIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzE3NDIwZGU2ZTQ5MTNkNjRkODA1MzM1ZGU3Yjk0MmY2MmY1OTNjYjAzYTMyNWIzNjhhZGQ4OWFhM2YwMzcwZjciLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzE3NDIwZGU2ZTQ5MTNkNjRkODA1MzM1ZGU3Yjk0MmY2MmY1OTNjYjAzYTMyNWIzNjhhZGQ4OWFhM2YwMzcwZjciLCJzaGFyaW5naWQiOiI1WWpONlIzdWRFMklpZUNPUFRZOWJRIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.ZmhBOFdLd3VIenA4eW1yQ1lNOFdrRlloSFUrTHlPTTM4WmV6aUNnN1BwQT0&encodeFailures=1&srcWidth=&srcHeight=&width=563&height=375&action=Access') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
} 
html , body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 10vh;
    background-color: rgba(96, 96, 96, 0.445);
    
}
nav ul{
    float: right;
    
}
nav ul li{
    display: inline;
    padding-left: 10px;
    margin-right: 20px;
    color: white;
    font-weight: bold;
}
h2{
position: relative;
top: 20px;
left: 650px;
color: white;
font-weight: bold;
}
footer{
    clear: both;
    background-color: rgba(96, 96, 96, 0.445);
    height: 10vh;
    position: relative;
    top:500px;
    margin-bottom: -100px;

}
form{
    background-color: rgba(238, 238, 238, 0.452);
    width: 400px;
    height: 200px;
    margin-right: 0;
    position: relative;
    top: 50px;
    border: white solid 1px;
    display: inline-block;
    
}

table{
    
    /* float: right; */
    background-color: rgba(238, 238, 238, 0.452);
    width: 500px;
    height: 200px;
    position: relative;
    top: 0px;
    left: 600px;
    bottom: 300px;
    border: white solid 1px;

}
th ,td {
    border: white solid 1px;
}
h3{
    position: relative;
    left: 100px;
    color: white;

}